In [1]:
import pandas

In [2]:
df2 = pandas.DataFrame([("First name":"Hamid","Last Name":"Ali"),("Last Name":"Ahmad")])

SyntaxError: invalid syntax (<ipython-input-2-4b2fa2b224fd>, line 1)

In [3]:
df2 = pandas.DataFrame([{"First name":"Hamid","Last Name":"Ali"},{"Last Name":"Ahmad"}])

In [4]:
df2

  First name Last Name
0      Hamid       Ali
1        NaN     Ahmad

In [5]:
df2

  First name Last Name
0      Hamid       Ali
1        NaN     Ahmad